<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/dlmath/mutalisk_ios_plist/blob/main/mutalisk-global-v1.6.19-debug_test-dev-02-07-20-15_resign_inhouse.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.valorlegend.global</string>
				<key>bundle-version</key>
				<string>1.6.19</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>testInstall</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
